In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("all_india_PO_list_without_APS_offices_ver2_lat_long.csv")

In [3]:
df.head()

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
0,Achalapur B.O,504273,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Rechini S.O,Mancherial H.O,NaN,NaN
1,Ada B.O,504293,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Asifabad S.O,Mancherial H.O,NaN,NaN
2,Adegaon B.O,504307,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Boath,Adilabad,TELANGANA,NaN,Echoda S.O,Adilabad H.O,NaN,NaN
3,Adilabad Collectorate S.O,504001,S.O,Non-Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226703,NaN,Adilabad H.O,NaN,NaN
4,Adilabad H.O,504001,H.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226738,NaN,NaN,NaN,NaN

In [4]:
dictObj = [df.groupby('statename') \
    .apply(lambda x: x.groupby('Districtname').apply(lambda x : x['pincode'].unique().tolist()).to_dict()).to_dict()]

In [ ]:
with open('data.json', 'w') as fp:
    json.dump(dictObj, fp)

In [5]:
x = dictObj[0]["JAMMU & KASHMIR"]["Jammu"]

In [6]:
x

[181121,
 181141,
 181131,
 181102,
 180017,
 180002,
 181201,
 180006,
 181202,
 180001,
 181132,
 181123,
 181122,
 181204,
 181133,
 184121,
 181206,
 181152,
 181224,
 181101,
 181124,
 181203,
 184120,
 180015,
 180011,
 185154,
 181111,
 180004,
 180010,
 180016,
 181207,
 181143,
 180003,
 181221,
 180007,
 180005,
 181145,
 180012,
 181205,
 180013,
 180019,
 180009,
 180020,
 180018]

In [7]:
len(x)

44